.menu-bar {
  width: 250px;
  height: 100%;
  margin-bottom: 40px;
  padding: 40px 20px 60px 20px;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: 100vh;
  flex-shrink: 0;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
}

.menu-bar__top-list {
  @include reset-list;
  margin-bottom: 60px;
}

.menu-bar__item {
  margin-bottom: 28px;
}

.menu-bar__link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  transition: color 0.3s ease;
  &:hover {
    color: $hover-color;
  }

  &:hover .menu-bar__link-svg path{
    fill: $hover-color;
    opacity: 1;
  }
}

.menu-bar__link-svg {
  margin-right: 13px;
}

.menu-bar__mid-list {
  @include reset-list;
  margin-bottom: 58px;
}

.menu-bar__mid-item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  &:hover {
    color: $hover-color;
  }
}

.menu-bar__mid-link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  transition: color 0.3s ease;

  &:hover {
    color: $hover-color;
  }

  &:hover .menu-bar__mid-link-svg path{
    fill: $hover-color;
    opacity: 1;
  }
}

.menu-bar__mid-link-svg {
  margin-right: 13px;
}


.menu-bar__mid-button {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  background-image: url("../../img/array-down.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu-bar__mid-link--show {
  &::before {
    contain: "";
    width: 1px;
    height: 1px;
  }
}

.menu-bar__bottom-wrapper {
  padding-bottom: 20px;
}

.menu-bar__heading {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: $primary-heading-color;
}

.menu-bar__bottom-list {
  @include reset-list;
  margin-bottom: 105px;
}

.menu-bar__bottom-item {
  margin-bottom: 23px;
}

.menu-bar__bottom-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: $primary-text-color;
  transition: color 0.3s ease;

  &:hover {
    color: $hover-color;
  }
}

.menu-bar__bottom-item:nth-child(1) .menu-bar__bottom-link{
  &::before {
    content: "";
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../img/sub-img-1/img-1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.menu-bar__bottom-item:nth-child(2) .menu-bar__bottom-link{
  &::before {
    content: "";
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../img/sub-img-2/img-2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.menu-bar__bottom-item:nth-child(3) .menu-bar__bottom-link{
  &::before {
    content: "";
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../img/sub-img-3/img-3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.menu-bar__bottom-item:nth-child(4) .menu-bar__bottom-link{
  &::before {
    content: "";
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../img/sub-img-4/img-4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.menu-bar__bottom-item:nth-child(5) .menu-bar__bottom-link{
  &::before {
    content: "";
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../img/sub-img-5/img-5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.menu-bar__bottom-item:nth-child(6) .menu-bar__bottom-link{
  &::before {
    content: "";
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../img/sub-img-6/img-6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.menu-bar__bottom-wrapper-link {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../../img/setting-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

@include breakpoint-down (826) {
  .menu-bar {
    display: none;
  }
}

@include breakpoint-down (643) {
  .menu-bar {
    overflow-y: scroll;
  }
}

@include breakpoint-down (500) {
  .menu-bar {
    display: none;
  }
}