
.site-content {
  padding-top: 40px;
  padding-left: 25px;
  width: 85%;
  flex-grow: 1;
  height: fit-content;
  overflow-x: hidden;
}

.site-content__name {
  margin: 0;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: $secondary-heading-color;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-image: url("../../img/dolli/dolli.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.site-content__videos-list {
  @include reset-list;
  display: flex;
  margin-bottom: 50px;
}

.site-content__videos-item {
  width: 250px;
  margin-right: 40px;
  flex-shrink: 0;
}

.site-content__videos-link {
  display: inline-block;
  width: 100%;
}

.site-content__inner-box {
  position: relative;
  z-index: 1;
}

.site-content__inner-img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

.site-content__inner-time {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  padding: 3px 9px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: $white;
  opacity: 0.3;
  background-color: $primary-heading-color;
}

.site-content__videos-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-heading-color;
}

.site-content__info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-content__info-views {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: $secondary-text-color;
}

.site-content__info-creator {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: $secondary-text-color;
}

.site-content__recommend {

}

.site-content__recommend-heading {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: $secondary-heading-color;
}

.site-content__recommend-list {
  @include reset-list;
  display: flex;
  margin-bottom: 50px;
}

.site-content__recommend-item {
  margin-right: 40px;
  flex-shrink: 0;
  width: 540px;
}

.site-content__recommend-link {
  width: 100%;
  display: inline-block;
}

.site-content__recommend-inner-box {
  position: relative;
  z-index: 1;
}

.site-content__recommend-inner-img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  object-fit: cover;
}

.site-content__recommend-inner-time {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 3px 10px 3px 8px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  border-radius: 12px;
  opacity: 0.3;
  color: $white;
  background-color: $primary-heading-color;
}

.site-content__recommend-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-heading-color;
}

.site-content__recommend-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-content__recommend-info-views {
  font-size: 12px;
  line-height: 15px;
  color: $secondary-text-color;
}

.site-content__recommend-info-creator {
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: $secondary-text-color
}

.site-content__other-top-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.site-content__other-heading {
  margin: 0;
  margin-bottom: 5px;
  margin-right: 19px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: $secondary-heading-color;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: block;
    background-image: url("../../img/food/food.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.site-content__other-text {
  margin: 0;
  margin-right: 600px;
  color: $secondary-text-color;
}

.site-content__subscribe-button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: $hover-color;
  color: $white;
}