
.site-content {
  padding-top: 40px;
  padding-left: 25px;
  width: 85%;
  flex-grow: 1;
  height: fit-content;
  overflow-x: hidden;
  // scroll kodi
  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 0;
  }
}

.site-content__name {
  margin: 0;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: $secondary-heading-color;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-image: url("../img/dolli/dolli.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.site-content__watch-later-title {
  &::before {
    content: "";
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-image: url("../../img/watch.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.site-content__videos-list {
  @include reset-list;
  display: flex;
  margin-bottom: 50px;
}

.site-content__videos-item {
  position: relative;
  z-index: 1;
  width: 250px;
  margin-right: 40px;
  flex-shrink: 0;

  &:hover .watch-later{
    opacity: 1;
  }
}

.site-content__videos-link {
  display: inline-block;
  width: 100%;
}

.site-content__inner-box {
  position: relative;
  z-index: 1;
}

.site-content__inner-img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

.site-content__inner-time {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  padding: 3px 9px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: $white;
  opacity: 0.3;
  background-color: $primary-heading-color;
}

.site-content__videos-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-heading-color;
}

.site-content__info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-content__info-views {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: $secondary-text-color;
}

.site-content__info-creator {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: $secondary-text-color;
}

.site-content__recommend-heading {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: $secondary-heading-color;
}

.site-content__recommend-list {
  @include reset-list;
  display: flex;
  margin-bottom: 50px;
}

.site-content__recommend-item {
  position: relative;
  z-index: 1;
  margin-right: 40px;
  flex-shrink: 0;
  width: 540px;

  &:hover .watch-later{
    opacity: 1;
  }
}

.site-content__recommend-link {
  width: 100%;
  display: inline-block;
}

.site-content__recommend-inner-box {
  position: relative;
  z-index: 1;
}

.site-content__recommend-inner-img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  object-fit: cover;
}

.site-content__recommend-inner-time {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 3px 10px 3px 8px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  border-radius: 12px;
  opacity: 0.3;
  color: $white;
  background-color: $primary-heading-color;
}

.site-content__recommend-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-heading-color;
}

.site-content__recommend-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-content__recommend-info-views {
  font-size: 12px;
  line-height: 15px;
  color: $secondary-text-color;
}

.site-content__recommend-info-creator {
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: $secondary-text-color
}

.site-content__other-top-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.site-content__other-heading {
  margin: 0;
  margin-bottom: 5px;
  margin-right: 19px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: $secondary-heading-color;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: inline-block;
    background-image: url("../img/food/food.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.site-content__other-text {
  margin: 0;
  margin-right: auto;
  color: $secondary-text-color;
}

.site-content__subscribe-button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: $hover-color;
  color: $white;
  cursor: pointer;
}

@include breakpoint-down (660) {
  .site-content__subscribe-button {
    display: none;
  }
}

@include breakpoint-down (500) {
  .site-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .site-content__other {
    padding-bottom: 40px;
  }

  .site-content__videos-list,
  .site-content__recommend-list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .site-content__videos-item,
  .site-content__recommend-item{
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
    flex-shrink: 1;
  }

  .site-content__name {
    margin-bottom: 15px;
  }

  .site-content__other-top-box {
    flex-direction: column;
    align-items: flex-start;
  }
}

@include retina-bg {
  .site-content__name {
    &::before {
      background-image: url("../img/dolli/dolli@2x.png");
    }
  }

  .site-content__other-heading {
    &::before {
      background-image: url("../img/food/food@2x.png");
    }
  }
}